**/__pycache__
*.pyc
*.pyo
*.keras
*.mp4
*.png
*.meta.json
*/test_notebook.ipynb
**/build
.vscode
*.dill
*.pkl
**/checkpoints/
.DS_Store
**/.DS_Store
.venv/
*/deprecated/*
*.patch
# debug_*.py
# reproduce_*.py
debug_*.txt
pylint_output.txt
ffmpeg
*.pdf
*.egg-info/
.pytest_cache/
*.ipynb
.coverage
.hypothesis/*
.hypothesis
*.json
