torch
numpy
gymnasium
opencv-python-headless
matplotlib
pandas
scipy
scikit-learn
tqdm
tensorboard
pygame
imageio
moviepy
pyyaml
requests
typing_extensions
psutil
pytest
pettingzoo
dill
supersuit
hyperopt
catanatron
pillow
easydict
rlcard
attrs
